<div class="master_container">
    <div class="continent_row">
        <div class="card-deck">
            <div class="card">
                <img src="assets/img/na.jpg" class="card-img-top" alt="...">
                <div class ="centered">North America</div>
            </div>
            <div class="card">
                <img src="assets/img/eu.jpg" class="card-img-top" alt="...">
                <div class ="centered">Europe</div>
            </div>
            <div class="card">
                <img src="assets/img/asia.jpg" class="card-img-top" alt="...">
                <div class ="centered">Asia</div>
            </div>
        </div>
    </div>

    <div class="continent_row">
        <div class="card-deck">
            <div class="card" id="blank_card"></div>
            <div class="card">
                <img src="assets/img/ant.jpg" class="card-img-top" alt="...">
                <div class ="centered">Antarctica</div>
            </div>
            <div class="card" id="blank_card"></div>
        </div>
    </div>

    <div class="continent_row">
        <div class="card-deck">
            <div class="card">
                <img src="assets/img/sa.jpg" class="card-img-top" alt="...">
                <div class ="centered">South America</div>
            </div>
            <div class="card">
                <img src="assets/img/africa.jpeg" class="card-img-top" alt="...">
                <div class ="centered">Africa</div>
            </div>
            <div class="card">
                <img src="assets/img/aus.jpg" class="card-img-top" alt="...">
                <div class ="centered">Australia</div>
            </div>
        </div>
    </div>
</div>