<nav class="mb-1 navbar navbar-expand-lg" id="navbar">
  <a class="navbar-brand" routerLink="../landing">Travel Buddiez</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="../register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="../profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="../profile/edit-profile">Edit Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="../main">Continent</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="../main/edit-continent-page">Edit Continent</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown">
        <li><a href="#" *ngIf="!auth">Login</a></li>
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" *ngIf="auth">
            <img src="assets/img/defaultuser.png" class="rounded-circle z-depth-0" alt="avatar image" height="50">
          </a>
          <div *ngIf="auth" class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
            <a class="dropdown-item" href="#" #notlogged>Profile</a>
            <a class="dropdown-item" href="#" #notlogged>Logout</a>
        </div>
    </ul>


  </div>
</nav>

