<br>
<br>
<div class="master_container">
    <div class="card">
        <h1 style="text-align: center; color: white;">Continents</h1>
        <div class="continent_row">
            <div class="card-deck">
                <div class="card">
                    <a routerLink="../edit-continent-page">
                        <img src="assets/img/na.jpg" class="card-img-top" alt="...">
                        <div class ="centered">North America</div>
                    </a>
                </div>
                <div class="card">
                    <a routerLink="../edit-continent-page">
                        <img src="assets/img/eu.jpg" class="card-img-top" alt="...">
                        <div class ="centered">Europe</div>
                    </a>
                </div>
                <div class="card">
                    <a routerLink="../edit-continent-page">
                        <img src="assets/img/asia.jpg" class="card-img-top" alt="...">
                        <div class ="centered">Asia</div>
                    </a>
                </div>
            </div>
        </div>

        <div class="continent_row">
            <div class="card-deck">
                <div class="card">
                    <a routerLink="../edit-continent-page">
                        <img src="assets/img/sa.jpg" class="card-img-top" alt="...">
                        <div class ="centered">South America</div>
                    </a>
                </div>
                <div class="card">
                    <a routerLink="../edit-continent-page">
                        <img src="assets/img/africa.jpeg" class="card-img-top" alt="...">
                        <div class ="centered">Africa</div>
                    </a>
                </div>
                <div class="card">
                    <a routerLink="../edit-continent-page">
                        <img src="assets/img/aus.jpg" class="card-img-top" alt="...">
                        <div class ="centered">Australia</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>