<br>
<br>
<div class="container" id="master_container">
    <div class="continent_container">
        <h1 style="text-align: center; color: white;">Continent</h1>
        <div *ngFor="let continent of continent$.data">
            <p>
                {{ continent.content }}
                <br>
                <br>
                Customs:
                <br>
                {{ continent.customs}}
                <br>
                <br>
                Taboos: 
                <br>
                {{ continent.taboos}}
                <br>
                <br>
                Suggestions: 
                <br>
                {{ continent.suggestions}}
                <br>
                <br>
            </p>
        </div>
    </div>
</div>