<div id = "master_container">
    <div id= "land_header">
        <h1>WELCOME TO TRAVEL BUDDIEZ!</h1>
    </div>

    <br>

    <div id="land_img">
        <h1>image here of world</h1>
    </div>

    <br>

    <div id="site_info">
        <h1>OUR MISSION</h1>
        <p>
            “If You Are Working On Something That You Really Care About, You Don’t Have To Be Pushed. The Vision Pulls You.” – Steve Jobs
        </p>
    </div>

    <div id="land_buttons">
        <button type="button" class="btn btn-primary btn-lg" routerLink="../register">Sign Up</button>
        <button type="button" class="btn btn-primary btn-lg" routerLink="../login">Login</button>
    </div>
</div>

