<div id = "master_container">

    <div class="jumbotron text-center">
        <h1>Welcome to Travel Buddiez</h1>
    </div>

    <br>

    <br>

    <div class="jumbotron text-center">
        <h1>Our Mission</h1>
        <p>
            “If You Are Working On Something That You Really Care About, You Don’t Have To Be Pushed. The Vision Pulls You.” – Steve Jobs
        </p>
    </div>

    <div class="land_buttons" style="text-align:center">
        <button type="button" class="btn btn-primary btn-lg" routerLink="../register">Sign Up</button>
        &nbsp; &nbsp; &nbsp;
        <button type="button" class="btn btn-primary btn-lg" routerLink="../login">Login</button>
    </div>
</div>

