.jumbotron {
    background-color: rgba(0, 0, 0, 0.0);
    color: white;
    font-size: 25px;
}

.card {
    transition: 0.3s;
    margin: 4%;
    color: #F1E9DB;
    box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.55);
    background-color: rgba(31, 54, 61, 0.9);
  }