<div class="container" id="master_container">
    <div class="card">  
        <div class="wrapper">
            <h1 style="color: white;">Login</h1>
            <hr>

            <div class="column">
                <div *ngIf="!isLoggedIn; else elseBlock">
                    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                        <div>
                            <div>
                                <mat-form-field class="login_input">
                                    <input matInput placeholder="Email" formControlName="email" type="email" required/>
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field class="login_input">
                                    <input matInput placeholder="Password" formControlName="password" type="password" required/>
                                </mat-form-field>
                            </div>
                        </div>
                        <button mat-raised-button class="nav-btn" id="button" color="primary" type="submit">Login</button>
                    </form>
                </div>
                    <ng-template #elseBlock>
                        <button (click)="logout()">Logout</button>
                    </ng-template>
            </div>
                    <br>
                    <a routerLink="../register">Register as a new user</a>
        </div>
    </div>
</div>