.profile_card {
    width: 1100px;
    height: 500px;
    border: 2px solid white;
    margin-top: 100px;
    background-color: #1F363D;
}

.img_card {
    width: 300px;
    height: 600px;
    border: 2px solid white;
    z-index: auto;
    background-color: white;
    position: relative;
    top: -50px;
    left: 50px;
    margin-bottom: 25px;
}