<div class="container">
    <div class="profile_card">
        <h1 style="float: right; color: white;"></h1>
        <div class="img_card">
            <img src="../../../assets/img/profilepic.jpg" alt="Default Profile Pic">
        </div>
        <br>
        <br>
        <br>
        <br>
        
        <div *ngIf="profile">
            <p> 
                {{ profile.email }}
            </p>
            <p>
                {{ profile.name }}  
            </p>
            <p>
                {{ profile.registered_on }}  
            </p>
            <p>
                {{ profile.bio }}
            </p>
            <button routerLink="../edit-profile" class="btn btn-primary" type="submit">Edit</button>
            <button (click)="deleteProfile()" class="btn btn-danger">Delete</button> 
        </div>
    </div>
</div>

