<div class="container">
    <div class="profile_card">
        <h1 style="float: right; color: white;"></h1>
        <div class="img_card">
            <img src="../../../assets/img/profilepic.jpg" alt="Default Profile Pic">
        </div>
        <div class="info">
            <div *ngIf="profile">
                <p><u>
                    Name</u>: {{ profile.name }}  
                </p>
                <p><u>
                    Username</u>: {{ profile.username }}  
                </p>
                <p><u>
                    Email</u>: {{ profile.email }}
                </p>
                <p><u>
                    Bio</u>: {{ profile.bio }}
                </p>
                <p><span style="font-size:0.5em;">
                    Registered on: {{ profile.registered_on }}</span>
                </p>
            </div>
        </div>
        <button (click)="deleteProfile()" id="button" class="btn btn-danger" style="text-align: center;">Delete</button> 
        <button routerLink="../edit-profile" id="button" class="btn btn-primary" style="text-align: center;" type="submit">Edit</button> 
    </div>
</div>

