@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

body {
    height: 100vh;
    background: url("./assets/img/globe.jpeg") fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

a {
    color: #F5F1E3;
}
