<div class="container">
    <div class="card"> 
        <h1 style="color: white;">Edit Profile</h1>

        <div class="wrapper ">
            <form (ngSubmit)=onSubmit() [formGroup]="updateForm">
                <div>
                    <div>
                        <mat-form-field id="register_input">
                            <input matInput placeholder="{{ user.name }}" formControlName="name" type="name"/>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field id="register_input">
                            <input matInput placeholder="{{ user.username }}" formControlName="username" type="username"/>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field id="register_input">
                            <input matInput placeholder="{{ user.email }}" formControlName="email" type="email"/>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field id="register_input">
                            <input matInput placeholder="Bio" formControlName="bio" type="bio"/>
                        </mat-form-field>
                    </div>
                </div>
                <button mat-raised-button class="nav-btn" color="primary" type="submit">Update</button>
            </form>
        </div>
    </div>
</div>