<div class="container">
    <div class="card"> 
        <h1 style="color: white;">Edit Profile</h1>
        <hr>

        <div class="wrapper ">
            <form>
                <div>
                    <div>
                        <mat-form-field id="register_input">
                            <input matInput placeholder="Username" formControlName="username" type="username"/>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field id="register_input">
                            <input matInput placeholder="Email" formControlName="email" type="email"/>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field id="register_input">
                            <input matInput placeholder="Bio" formControlName="bio" type="bio"/>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field id="register_input">
                            <input matInput placeholder="Profile Pic" formControlName="profilePic" type="profileImage"/>
                        </mat-form-field >
                    </div>
                </div>
                <button mat-raised-button class="nav-btn" color="primary" type="submit">Edit</button>
            </form>
        </div>
    </div>
</div>